.wrapper{
    padding-left: 18px;
    padding-right: 18px;
    overflow: hidden;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;

    .site-header__menu-content--is-visible{
        z-index: 2;
    }

    &--medium {
        max-width: 976px;
    }

    &--no-padding-md{
        padding-left:0;
        padding-right:0;

        @mixin atMedium {
            padding-left: 18px;
            padding-right: 18px;
        }
    }

    &--no-padding-lg{
        padding-left:0;
        padding-right:0;

        @mixin atLarge {
            padding-left: 18px;
            padding-right: 18px;
        }
    }

    .wrapper{
        padding-left: 0;
        padding-right: 0;
    }

    &--b-margin {
        margin-bottom: 1rem;
        @mixin atSmall {
            margin-bottom: 3.875rem;
        }
    }
}